*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --ff-heading: "Young Serif", san-serif;
    --fs-heading: 400;
    --ff-body: "Outfit", san-serif;
    --White: hsl(0, 0%, 100%);

    --Stone-100: hsl(30, 54%, 90%);
    --Stone-150: hsl(30, 18%, 87%);
    --Stone-600: hsl(30, 10%, 34%);
    --Stone-900: hsl(24, 5%, 18%);
    --Brown-800: hsl(14, 45%, 36%);
    --Rose-800: hsl(332, 51%, 32%);
    --Rose-50: hsl(330, 100%, 98%);
}
h1{
    font-family: var(--ff-heading);
    font-weight: var(--fs-heading);
    color: var(--Stone-900);
}
h2{
    font-family: var(--ff-heading);
    font-weight: var(--fs-heading);
    color: var(--Brown-800)
}
.preparation-div h2{
    font-family: var(--ff-body);
    font-size: 18px;
    font-weight: 600;
    color: var(--Rose-800)
}
body{

    background-color: var(--Stone-100);
    font-family: var(--ff-body);
    line-height: 1.8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
main{
    padding: 20px 30px;
    background-color: var(--White);
    max-width: 700px;
    color: var(--Stone-600);
    border-radius: 20px;
}
img{
    width: 100%;
    border-radius: 10px;
}
ul, ol{
    margin-left: 25px;
}
ol >li::marker{
    font-weight: 700;
}
li{
    padding-left: 10px;
}
div{
    padding: 20px 0;
    margin: 0 5px;
}
div:nth-child(2){
    background-color: var(--Rose-50);
    padding: 20px;
    border-radius: 10px;
}
hr{
    border: 0;
        margin: 0;
        width: 100%;
        height: 2px;
        background: var(--Stone-150);
}
table{
    width: 100%;
    border-collapse: collapse;
}
td{
    padding: 5px 20px;
    margin: 10px;
    border-bottom: 1px solid var(--Stone-150);
}
.fat-td td{
    border: none;
}
td:last-child{
    font-weight: 700;
    color: var(--Brown-800)
}
@media(min-width: 414px){
    main{
        margin: 50px 20px;
    }
}